*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
body
{
    width:100%;
    min-height:auto;
    background-color:#feced8;
    position: relative;   
    font-family: "Inter", sans-serif;
    overflow: hidden;
}
header
{
    background-color: rgba(218, 218, 218, 0.644);
    width: 100%;
    height:60px;
    display: flex;
    align-items:center;
    position: fixed; 
    top: 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    z-index: 10;
}
#logo
{
    width:65px;
    height:50px;
    margin-left: 80px;
}
header ul
{
    width:30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
   margin: 0 23%;
}
li
{
    font-size: 16px;
    font-weight: 500;
    color:rgb(44, 43, 43);
}
#corner_circle
{
    position: absolute;
    width :200px;
    height:200px;
    border-radius: 50%;
    z-index: 9;
    background-color: #ff9cae;
    top: -220px;
    left:-40px;
}
/* /////////////////////////////////////////////// */
#container
{
    width:45%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 160px;
}
h3
{
    font-family: "Playwrite AU TAS", cursive;
    font-size: 32px;
    font-weight: 800;
    color:#fb6884;
}
p
{
    font-size: 17px;
    margin: 15px 0;
    color:#ff9cae;
}
span
{
    display:block;
    width: 95%;
    font-size: 15px;
    color:rgb(62, 62, 62);
    margin-bottom: 30px;
}
#sub_container
{
    width:455px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box,.card,.overlay
{
    width:110px;
    height:180px;   
}
.box
{
    position: relative;
}
.overlay
{
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(16px);
    border: none;
    border-radius: 7px ;
    visibility: hidden;
}
#overlay1
{
     background: linear-gradient(
    to bottom,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(241, 125, 146, 0.3) 60%,
      rgba(241, 125, 147,.7) 95%
    ); 
}
#overlay2
{
     background: linear-gradient(
    to bottom,
      rgba(255, 255, 255, 0.05) 0%,
      rgb(199, 227, 154)60%,
      rgba(175, 218, 108)95%
    ); 
}
#overlay3
{
     background: linear-gradient(
    to bottom,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(242, 197, 142, 0.5)60%,
      rgba(224, 177, 119, 0.9)95%
    ); 
}
#overlay4
{
     background: linear-gradient(
    to bottom,
      rgba(255, 255, 255, 0.05) 0%,
   rgba(215, 139, 101,.5)60%,
     rgba(175, 88, 44,.7)95%
    ); 
}
.box:hover .overlay
{
    visibility:visible;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
.card:hover .name
{
    cursor: pointer; 
    color:#f0efef;
}
.box.active .overlay {
  visibility: visible;
}
.simg
{
    height:90px;
    width:70px;
    margin-bottom: 20px;
}
.name
{
    color:#f0efef;
    color:rgb(62, 62, 62);
    font-family: "Playwrite AU TAS", cursive;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
/* ////////////////////////////////// */
#slider
{
    width: 40%;
    height:420px;
    position: absolute;
    bottom: -55px;
    right: 0;
    z-index: 4;
}
#circle1
{
    
    width:250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    right: -125px;
    bottom: -125px;
    position: absolute;
    z-index: 8;
}
#circle2
{
    
    width:550px;
    height: 550px;
    background-color: #fff;
    border-radius: 50%;
    right: -225px;
    bottom: -225px;
    position: absolute;
    z-index: 5;
}
#bimg
{
    height:420px;
    width: 340px;
    position: absolute;
    z-index: 7;
    right: 20px;
    bottom: -10px;
    transform: rotate(322deg);
}
.bg
{
    width:380px;
    height: 380px;
    background-color: rgba(255, 156, 174,.3);
    backdrop-filter:blur(9px);
    box-shadow:0px 4px 8px 5px #ff9cae;
    border-radius: 50%;
    right: 10px;
    bottom: 25px;
    position: absolute;
    z-index: 6;
}
